html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1 {
  color: #0F3376;
  padding: 2vh;
}
p {
  font-size: 1.5rem;
}
.button {
  display: inline-block;
  background-color: #3aa73a;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

.buttonOFF {
  background-color: #f44336;
}
.buttonTimer {
  background-color: #008CBA;
}
.units {
  font-size: 1.2rem;
 }
.sensor-labels {
  font-size: 1.5rem;
  vertical-align:middle;
  padding-bottom: 15px;
}

#statusList {
  list-style-type: none;
  padding-left: 0;
}
